.header-container{
    background-color: white;
    height: 4rem;
     text-align: center;
     display: flex;
    &__searchIcon{
       
        margin: 1.8rem;
    }
    img{
        width: 170px;
    }
    span{
       flex-grow: 1;
    }
}